body {
  color: #f1f7f2;
  margin: 0;
  text-align: center;
  background-color: rgb(180, 100, 100);
  /*cursor: none;*/
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
p {
  color: rgba(233, 233, 233, 0.7)
}
.header {
  top: 45%;
}
.footer {
  bottom:3%;
}
.description {
  color: #fdf5f5;
  padding-top: 50px;
}
a, a:hover, a:visited {
  color: rgb(201, 196, 196);
  text-decoration: none;
} 
.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
h1::after {
  content: ' Three JS';
  font-size: 12px;
  position:absolute;
  top: 3px;
  padding-left: 5px;
  font-weight: 400;
}
h2::after {
  content: '2';
  font-size: 12px;
  position:absolute;
  top: 14px;
  padding-left: 5px;
}